@import "../../../../sass/colors.scss";

.primary-button {
    padding: 2rem 4.5rem;
    outline: none;
    border: none;
    background-color: $primary;
    border: .4rem solid transparent;
    font-family: "Roboto";
    font-weight: 600;
    color: $background;
    letter-spacing: .3rem;
    transition: all .2s;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
        transform: translateY(-.4rem);
        filter: drop-shadow(0 .4rem 1.6rem rgba(#000, .05));
    }

    &__small {
        padding: 1.2rem 2rem;
    }
}