@import "../../../sass/mixins.scss";

.header {
    height: 95vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
    position: relative;
    z-index: 1;
    transition: background-image 1s;
    
    @include respond(tab-port) {
        height: 50vh;
        padding-top: 6rem;
        padding-bottom: 2rem;
        clip-path: none;
    }

    &__splash-logo {
        width: 100rem;
        margin-bottom: 6rem;
        animation: fadeIn forwards 1s;

        @include respond(tab-port) {
            width: 90%;
        }
    }

    &__navigation {
        opacity: 0;
        animation: fadeIn forwards 1s .5s;
    }

    &__small {
        position: relative;
        height: auto;
        clip-path: none;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 5.5rem 2rem;
        background-position: center center;
        
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(#000, .4);
            z-index: 1;
        }

        &--splash-logo {
            width: 40rem;
            margin-bottom: 0;
            cursor: pointer;
            position: relative;
            z-index: 2;
        }

        &--navigation {
            position: relative;
            z-index: 2;
        }
    }
}

@keyframes fadeIn {
    0% {
        transform: translateY(5rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}