@import "../../../../sass/colors.scss";

.secondary-button {
    padding: 2rem 4.5rem;
    outline: none;
    border: .4rem solid $primary;
    font-family: "Roboto";
    background-color: transparent;
    color: $primary;
    letter-spacing: .3rem;
    transition: all .2s;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
        background-color: $primary;
        color: $background;
        transform: translateY(-.4rem);
    }

    &__small {
        padding: 1.2rem 2rem;
    }
}